/* Feuille de styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.05em;
}

/* Styles de texte */
.project__title {
  font-family: 'Playfair Display', serif;
  font-size: 1.2em;
}

.project__type {
  line-height: 2em;
  font-size: 0.9em;
}

.vertical__align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center__align {

}

.menu__a {
  padding: 15px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  font-weight: 400;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 3em;
}

span {
  font-size: 1em;
  font-weight: 900;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

/* Header */
#header {
  width: 100%;
  height: 400px;
  background-color: #9DC9E4;

  text-align: center;
  color: #fff;
}

.btm-clip-path {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

/* Portfolio */
#portfolio {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio__project {
  width: 450px;
  height: 450px;
  margin: 30px;
  background-color: #F9F8F6;
  text-align: center;
}

/* Detail */
#detail {
  width: 100%;
  background-color: #F9F8F6;
  display: flex;
  flex-direction: column;
}

#menu__back {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#detail__project {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desc__project {
  width: 100%;
  background-color: white
}

.img__project {
  width: 450px;
  height: 450px;
  margin: 30px;
  background-color: #fff;
  text-align: center;
}

#menu__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Footer */
#footer {
  width: 100%;
  height: 100px;
  background-color: #F9F8F6;

  font-size: 0.7em;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
